h2 {
    color: blueviolet;
    text-align: center;
    }
p { font-size: 130%;}
   

    #intro {background-color: yellow;}
    .first{ font-size:200%;}
   #intro .first{color:red;}
     #intro .first em {color:green;}  

    